script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/app/common/socket.io.js")
script(type="text/javascript" src="/app/common/helpers.js")
script(type="text/javascript" src="/app/common/Drawer.js")
script(type="text/javascript" src="/app/common/Modal.js")
script(type="text/javascript" src="/app/game/gameCtrl.js")